<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>	
	 <typeAliases>
	 	<typeAlias type="study.janek.member.model.Board" alias="Board"/>
	 	<typeAlias type="study.janek.member.dto.BoardDto" alias="BoardDto"/>
	 	<typeAlias type="study.janek.member.model.User" alias="User"/>
	 </typeAliases>

	<mappers>
		<mapper resource="mapper/BoardMapper.xml" />
		<mapper resource="mapper/UserMapper.xml" />
	</mappers>

</configuration>