<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="callSettersOnNulls" value="true" />
	</settings>

	<typeAliases>
		<typeAlias type="study.janek.member.model.Board" alias="Board" />
		<typeAlias type="study.janek.member.dto.BoardDto" alias="BoardDto" />
		<typeAlias type="study.janek.member.model.User" alias="User" />
		<typeAlias type="study.janek.member.model.Reply" alias="Reply"/>
		<typeAlias type="study.janek.member.dto.ReplyDto" alias="ReplyDto"/>
		<typeAlias type="study.janek.member.model.ChartData" alias="Chart"/>
	</typeAliases>

	<mappers>
		<mapper resource="mapper/BoardMapper.xml" />
		<mapper resource="mapper/UserMapper.xml" />
		<mapper resource="mapper/ReplyMapper.xml" />
		<mapper resource="mapper/ChartMapper.xml" />
	</mappers>

</configuration>