<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study.janek.member.mapper.UserMapper">

	<insert id="joinUser" parameterType="study.janek.member.model.User">
		INSERT INTO user 
		(
			username, password, name, email
		) 
		VALUES (#{username}, #{password}, #{name}, #{email})
	</insert>
	
	<select id="getUserAll" resultType="study.janek.member.model.User">
		SELECT 
			*
		FROM user
	</select>
	
	<select id="getUserList" parameterType="int" resultType="study.janek.member.model.User">
		SELECT 
			*
		FROM user
		WHERE role = 'USER'
		LIMIT #{pageNum}, 10
	</select>

	<select id="getUserById"  parameterType="study.janek.member.model.User" resultType="study.janek.member.model.User">
		SELECT
			*
		FROM user
		WHERE id=#{id}
	</select>
	
	<select id="findByUsername" parameterType="String" resultType="study.janek.member.model.User">
		SELECT * FROM user WHERE username=#{username}
	</select>
	
	<update id="updateLastLogin" parameterType="study.janek.member.model.User">
		UPDATE user SET 
			lastLogin=now()
		WHERE id=#{id}
	</update>
	
	<select id="loginProc" parameterType="study.janek.member.model.User" resultType="study.janek.member.model.User">
		SELECT
			*
		FROM user
		WHERE username=#{username} and password=#{password}
	</select>
	
	<select id="isR" parameterType="study.janek.member.model.User" resultType="int">
		SELECT
		COUNT(username)
		FROM user
		WHERE username=#{username} and password=#{password}
	</select>
</mapper>